.card {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color: rgba(15, 15, 15, 0.2);
    height: 200px;
    width: 200px;
    margin-right: 50px;
    
    }

    .all-card{
        margin-top: 50px;
        margin-left: 80px;
        
    }